@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Ubuntu:wght@400;700&display=swap");
.listContainer {
  width: 90%;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 3px 5px hsl(0, 0%, 80%);
}

.listHead {
  font-family: "Ubuntu";
  font-size: 28px;
  color: #105652;
  font-weight: 700;
}
.listName {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
}

.listData {
  font-size: 18px;
}

.buttonEdit {
  width: 36px;
  height: 36px;
  background-color: rgb(241, 243, 123);
  border-radius: 50px;
  float: left;
  margin-right: 10px;
  padding-left: 8px;
  padding-top: 2px;
  cursor: pointer;
  border: 2px solid black;
}
